*{
    margin: 0px;
    padding: 0px;
}

body{
    background: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    /*width: 70%;*/
    width: 1100px;
    margin: 0px auto;
    border: 3px solid black;
}

header{
    background: white;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: black;
    border-bottom: 1px solid black;
}

/*nav{
    background: white;
    height: 50px;
    border-bottom: 1px solid black;
}*/

.clearfix{
    clear:both;
}

#content{
    padding: 40px;
    float: left;
    width: calc(80% - 81px);
    min-height: 500px;
    background: white;
    
}

aside{
    float: left;
    width: calc(20% - 21px);
    min-height: 580px;
    background: gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10;
    border-top: 1px;
    border-left: 1px solid black;
}

.article{ /*Todos los articulos*/
    color: Black;
    margin-top: 10px;
    margin-bottom: 30px;
    /*border-bottom: 1px solid Black;*/

}

.article:first-child h3{ /*Titulo*/
    /*border-top: 1px solid white;
      border-top: 1px solid rgb(79, 163, 79);*/
      font-size: 25px;
      text-align: center;
}

.article:first-child p{ /*Subtitulo*/
    /*border-top: 1px solid white;
      border-top: 1px solid rgb(79, 163, 79);*/
      text-align: center;
}

/*article:last-child p {
    text-align: center;
}*/

.article textarea{ /*Cuadro de texto*/
    text-align-last: left;
    background: white;
    height: 100px;
    width: 100%;
    margin: 0px;
    /*line-height: 100px;*/
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.article ul span li{ /**/
    /*border-top: 1px solid white;*/
    /*float: left;*/
    margin-top: 30 px;
    list-style: none;
    margin: 10px;
    text-align: center;
}

.article form label{
    float: left;
    width: 15%;
}

.article ul li input{
    border-top: 1px solid white;
    margin-top: 30 px;
    list-style: none;
    margin: 10px;
    text-align: center;
    /*float: left;*/
}

.article form span input{
    float: left;
    width: 70%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.article form ul li input {
    list-style: none;
}

.article:last-child ul li{
    list-style: none;
    float: left;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 100px;
    line-height: 50px;
}

footer ul li {
    float: left;
    list-style: none;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    float: right;
}